django-email-users
django==1.11.12
plotly==1.12.9
pyyaml
whitenoise
gunicorn
psycopg2-binary
python-dotenv
django-mail-templated
django-autofixture
django_jinja
randomcolor
googlemaps
social-auth-app-django
easy-thumbnails
django-templated-email
pdfkit
twilio
squareconnect
stripe
authorizenet
beautifulsoup4
lxml
arrow
django-redis
django_compressor
django-htmlmin
csscompressor
social-auth-core
social-auth-app-django

django==1.11.12
plotly==1.12.9
pyyaml
whitenoise
gunicorn
psycopg2-binary
python-dotenv
django-mail-templated
django-autofixture
django_jinja
randomcolor
googlemaps
social-auth-app-django
easy-thumbnails
django-templated-email
pdfkit
twilio
squareconnect
stripe
authorizenet
beautifulsoup4
lxml
arrow
django-redis
django_compressor
django-htmlmin
csscompressor
social-auth-core
social-auth-app-django
